# Kaggle API credentials
# Get from: https://www.kaggle.com/settings API Create New Token
KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_api_key

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000

# API
API_BASE=http://localhost:8000
